<!-- 查询组 -->
<div class="row">
    <div class="form-group col-sm-4">
        <label>手机号</label>
        <input type="text" class="form-control" ng-model="queryPhone" placeholder="手机号" />
    </div>
    <div class="form-group col-sm-4">
        <label>企业名称</label>
        <input type="text" class="form-control" ng-model="queryCompany" placeholder="企业名称" />
    </div>
    <div class="form-group col-sm-3">
        <label>审核状态</label>
        <select id="queryStatus" class="form-control">
            <option value="">全部</option>
            <option value="1">通过</option>
            <option value="0">审核中</option>
            <option value="2">未上传资料</option>
        </select>
    </div>
    <div class="form-group col-sm-1">
        <label>查询</label>
        <span class="input-group-append">
        <button type="button" class="btn btn-primary" ng-click="pagination(0,20)">查询</button>
    </span>
    </div>

</div>



<!-- 审核表格 -->
<table class="table table-responsive-xl table-striped table-bordered table-hover">
    <thead><tr><th>用户手机号</th><th>企业名称</th><th>注册日期</th><th>用户IP</th><th>审核状态</th><th >查看</th></tr></thead>
    <tbody>

      <tr ng-repeat="list in  lists">
          <td>{{list[0]}}</td>
          <td>{{list[1]}}</td>
          <td>{{list[2] | date:'yyyy-MM-dd hh:mm:ss'}}</td>
          <td>{{list[3]}}</td>
          <td ng-if="list[4] == '1'"><span class="badge badge-success">审核通过</span></td>
          <td ng-if="list[4] == '0'"><span class="badge badge-warning">审核中</span></td>
          <td ng-if="list[4] != '0' && list[4] != '1'"><span class="badge badge-danger">未上传资料</span></td>
          <td ng-if="list[4] == '1'"><a href="/index.html#!/auditingBack/auditing" ng-click="getAuditingPhone(list[0])" class="badge badge-info" >查看</a></td>
          <td ng-if="list[4] == '0'"><a href="/index.html#!/auditingBack/auditing" ng-click="getAuditingPhone(list[0])" class="badge badge-secondary">审核</a></td>
          <td ng-if="list[4] != '0' && list[4] != '1'">未上传资料</td>
      </tr>

    </tbody>
</table>


<!-- 默认分页 -->
<ul class="pagination justify-content-center" ng-if="!checkQuery">
    <li class="page-item">
        <a class="page-link" ng-click="page(currPage,'first')" disabled="disabled" >
            <span aria-hidden="true">首页</span>
        </a>
    </li>
    <li class="page-item"><a class="page-link" ng-click="page(currPage,'up')">上一页</a></li>
    <li class="page-item"><a class="page-link" ng-click="page(currPage,'next')">下一页</a></li>
    <li class="page-item">
        <a class="page-link" ng-click="page(pages,'last');" aria-label="Next">
            <span aria-hidden="true">末页</span>
        </a>
    </li>
    <li style="margin-top: 0.6%; margin-left: 5%;">
        <span>第{{currPage+1}}页</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>共{{pages}}页</span>
    </li>
</ul>

