
    <!-- 表格组 -->
    <table class='table table-responsive-xl table-striped table-bordered table-hover'>
        <thead><tr><th>交易类型</th><th>票据类型</th><th>最小利率（%）</th><th>最大利率（%）</th><th>日期</th></tr></thead>

        <tr ng-repeat="list in lists">
            <td>{{list.tradeType}}</td>
            <td>{{list.ticketType}}</td>
            <td ng-click="editMinRate($event,$index)">{{list.minRate | number:2}}</td>
            <td ng-click="editMaxRate($event,$index)">{{list.maxRate | number:2}}</td>
            <td>{{list.date | date:'yyyy-MM-dd'}}</td>
        </tr>

    </table>

    <button class="btn btn-primary" style="float: right" ng-click="saveTrade(lists)">保存</button>

