<!-- 查询组 -->
<div class="row">
    <div class="form-group col-sm-5">
        <input type="text" class="form-control" placeholder="起始日期" id="firstDate"/>
    </div>
    <div class="form-group col-sm-5">
        <input type="text" class="form-control" placeholder="截止日期" id="lastDate"/>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary" ng-click="queryFinacceByDate()">查询</button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-success" ng-click="tableToExcel()">导出</button>
    </div>
</div>


<!-- 表格组 -->
<table class='table table-responsive-xl table-striped table-bordered table-hover'>
    <thead><tr><th>票据号码 </th><th>票面金额 </th><th>已贴现金额 </th><th>未贴现金额 </th><th>已贴现手续费 </th></tr></thead>

    <tr ng-repeat="list in lists">
        <td>{{list[0]}}</td>
        <td>{{list[1] | number:2}}</td>
        <td ng-if="list[3] == 0"></td>
        <td ng-if="list[3] == 0">{{list[1] | number:2}}</td>
        <td ng-if="list[3] == 1">{{list[2] | number:2}}</td>
        <td ng-if="list[3] == 1"></td>
        <td>{{list[4] | number:2}}</td>
        <!--<td><a data-target="#detail" data-toggle="modal" class="badge badge-warning" ng-click="getAllMessageByPhone(list[0])">详情</a></td>-->
    </tr>

    <tr class="btn-default font-weight-bold">
        <td>总计</td>
        <td>{{ticketAmount | number:2}}</td>
        <td>{{discountAmount | number:2}}</td>
        <td>{{noneDiscountAmount | number:2}}</td>
        <td>{{discountCommission | number:2}}</td>
        <!--<td></td>-->
    </tr>

</table>




<!-- 日历脚本 -->
<script>

    laydate.render({
        elem: '#firstDate',
        theme: '#393D49'
    });

    laydate.render({
        elem: '#lastDate',
        theme: '#393D49'
    });

</script>