<!-- 查询组 -->
<div class="row">
    <div class="form-group col-sm-5">
        <input type="text" class="form-control" placeholder="到期日期(起)" id="firstDate"/>
    </div>
    <div class="form-group col-sm-5">
        <input type="text" class="form-control" placeholder="到期日期(终)" id="lastDate"/>
    </div>
    <div class="form-group col-sm-1">
        <button type="button" class="btn btn-primary" ng-click="queryNoneDiscount()">查询</button>
    </div>
    <div class="form-group col-sm-1">
        <button type="button" class="btn btn-success" ng-click="noneDiscountToExcel()">导出</button>
    </div>
</div>

<!-- 表格组 -->
<table class='table table-responsive-xl table-striped table-bordered table-hover'>
    <thead><th>票据号码</th><th>票面金额</th><th>票据类型</th><th>票据名称</th><th>出票日期</th><th>到期日期</th><th>出票人</th><th>承兑人名称</th></thead>

    <tr ng-repeat="list in lists">
        <td>{{list.ticketNumber}}</td>
        <td>{{list.ticketAmount | number:2}}</td>
        <td>{{list.ticketType}}</td>
        <td>{{list.ticketName}}</td>
        <td>{{list.ticketingTime | date:'yyyy-MM-dd'}}</td>
        <td>{{list.maturityTime | date:'yyyy-MM-dd'}}</td>
        <td>{{list.billerName}}</td>
        <td>{{list.acceptorName}}</td>
    </tr>

    <tr class="font-weight-bold"><td>总计</td><td>{{ticketAmount | number:2}}</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>

<!-- 日历脚本 -->
<script>

    laydate.render({
        elem: '#firstDate',
        theme: '#393D49'
    });

    laydate.render({
        elem: '#lastDate',
        theme: '#393D49'
    });

</script>