.layui-bg-black, .layui-nav {
	background-color: #0051c6;
}
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
	background-color: #0051c6!important;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
	background-color: #1071f0;
}
.layui-layout-admin .layui-side {
	top: 0;
	width: 240px;
	z-index: 1001;
	padding-top: 30px;
}
.sys-logo {
	text-align: center;
	margin-bottom: 50px;
}
.layui-side-scroll {
	width: 240px;
	height: auto;
}
.layui-body {
	left: 240px;
}
.admin-side-toggle {
	left: 260px;
	color: #0051c6;
	background: none;
}
.fa-bars {
	font-size: 32px;
}
.layui-nav * {
	font-size: 16px;
}
.layui-nav-child * {
	font-size: 14px!important;
}
.beg-navbar .layui-nav-child dd a {
	padding-left: 50px;
}
.layui-nav-tree {
	width: 240px;
}
.layui-nav-tree .layui-nav-more {
	right: 30px;
}
.layui-nav .layui-nav-item a {
	padding: 0 30px;
}
.layui-nav-tree .layui-nav-child a {
	height: 50px;
	line-height: 50px;
}
.layui-nav-tree .layui-nav-item a {
	height: 50px;
	line-height: 50px;
}
.admin-nav-card>.layui-tab-title {
	background: #f3f6f9;
	border: none;
	box-shadow: 0 5px 10px rgba(0,0,0,.11) inset;
}
.admin-nav-card>.layui-tab-title .layui-this {
	color: #555;
	background: none;
}
.layui-btn {
	background-color: #0051c6 !important;
}
.layui-btn-primary {
	background: #fff !important;
	color: #555;
	border: 1px solid #C9C9C9;
}
.layui-btn-primary:hover {
	border: 1px solid #0051c6;
	color: #0051c6;
}
.layui-table td, .layui-table th {
	text-align: center;
}
.layui-action-link {
	background: none !important;
	color: #0051c6;
}
.layui-action-link:hover {
	color: #0051c6;
	text-decoration: underline;
}
.admin-nav-card>.layui-tab-title .layui-this {
	color: #0051c6;
}
.layui-laypage .layui-laypage-total {
	display: none;
}
.btable-paged {
	text-align: center;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background: #0051c6;
}
.layui-textarea {
	min-height: 150px;
}
/*.layui-input, .layui-textarea {
	width: 320px;
}*/
.layui-input-block {
	max-width: 340px;
	margin-left: 150px;
}
.layui-layer-wrap {
	width: 460px;
	margin: 30px auto 0 auto;
}
.layui-form-label {
	font-size: 14px;
	width: 120px;
}
.layui-layer-title {
	font-size: 18px !important;
	text-align: center;
}
.layui-layer .layui-input-block .layui-btn{
	width: 140px;
	font-size: 14px;
}
.layui-layer .layer-img img{
	max-width: 210px;
}
.red{
	color: #f7484d;
}
.req {
	color: red;
    display: inline;
    position: absolute;
    right: -15px;
    top: 9px;
    font-size: 24px;
}
/*.layui-nav-tree .layui-nav-bar {
	background: #0051c6;
}*/
.layui-nav-tree .layui-nav-item a:hover {
	background-color: #1071f0;
}
.custom-tab .layui-tab-title {
	border: none;
}
.custom-tab .layui-tab-title li {
	border: 1px solid #0051c6;
	width: 125px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #0051c6;
}
.custom-tab .layui-tab-title li:after {
	display: none;
}
.custom-tab .layui-tab-title .layui-this {
	color: #fff !important;
	background: #0051c6;
}
.admin-nav-card>.layui-tab-title {
	padding-left: 20px;
}
.custom-tab {
	margin: 30px;
}
.layui-tab-content {
	padding-top: 40px;
}
.layui-form-select dl dd.layui-this {
	background: #1071f0;
}
.layui-btn-big {
	width: 180px;
}
.layui-btn-small {
	width: 80px !important;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
}
.layui-input-block > p {
	line-height: 40px;
}
.download-link {
	color: #0051c6;
}
#related-contracts li {
	margin: 10px 0;
	position: relative;
	width: 200px;
}
#related-contracts li a{
	position: absolute;
	right: 0;
	color: red;
}
#repayment .layui-form-label {
	width: 80px;
}
#repayment .layui-input-block {
	margin-left: 90px;
}
blockquote {
	max-width: 525px;
	position: relative;
	box-shadow: 2px 2px 5px rgba(0,0,0,.22);
	margin-top: 20px;
}
blockquote.layui-quote-nm {
	border-width: 1px;
}
blockquote > a.delete{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #0051c6;
	font-size: 24px;
}
blockquote > a.delete i{
	font-size: 24px;
}
blockquote .layui-form-item {
	margin-bottom: 0px;
}
.layui-form-item .unit {
	position: absolute;
	right: 10px;
	top: 10px;
}
.layui-form-checked[lay-skin=primary] i {
	border-color: #0051c6;
    background-color: #0051c6;
}
.file {
    position: relative;
    display: inline-block;
    background: #0051c6;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    color: #fff;
}
.file2,
.file2:hover{
	background: none;
	border:0;
	color: #0051c6;
	font-size: 18px;
}
.layui-collapse {
	border: none;
}
.layui-colla-item {
	border-top: none;
}
.layui-colla-title {
	background: none;
}
.layui-colla-content {
	border-top: none;
}
.layui-form-selected dl {
	max-height: 190px;
}
.layui-table th {
	font-weight: normal;
}
.layui-table td:first-child {
	background: #f3f6f9;
}
.layui-tab-title {
	white-space: normal;
	height: auto;
}
.fa {
	float: left;
	margin-top: 11px;
	width: 22px;
	height: 22px;
}
.fa-product {
	background: url(../images/product.png) no-repeat center center;
}
.fa-project {
	margin-top: 13px;
	background: url(../images/project.png) no-repeat center center;
}
.fa-consumer {
	margin-top: 13px;
	background: url(../images/consumer.png) no-repeat center center;
}
.fa-loan {
	margin-top: 13px;
	background: url(../images/loan.png) no-repeat center center;
}
.fa-sys {
	margin-top: 13px;
	background: url(../images/sys.png) no-repeat center center;
}
.layui-nav .layui-nav-more {
	background: url(../images/arrow-up.png) no-repeat center center;
	width: 22px;
	height: 22px;
	border: none;
	top: 14px;
}
.layui-nav .layui-nav-itemed .layui-nav-more {
	background: url(../images/arrow-down.png) no-repeat center center;
	width: 22px;
	height: 22px;
	border: none;
}


/*清除浮动
 --------------*/
.clearfix {
  zoom: 1;
  _height: 1px
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

#upload-payments-layer .layui-form-item{
	margin: 0;
}
.track-form{
	background: #f3f6f9;
	padding: 40px 0 20px;
	margin: 0 0 30px;
	position: relative;
}
.track-form .idea{
	width: 83%;
	max-width: 1110px;
}
.track-form .btn{
	position: absolute;
	top: 50%;
	right: 2.5%;
	margin: -32px 0 0 0;
	width: 17%;
}
.track-form .layui-btn{
	line-height: 48px;
	height: 48px;
	font-size: 18px;
	padding: 0;
	width: 100%;
	max-width: 160px;
}
.track-form .layui-form-item{
	display: inline-block;
	width: 44%;
	margin: 0 5% 20px 0;
	max-width: 444px;
}
.track-form .layui-input{
	border: 1px solid #cfe0f6;
}

.layui-timeline{padding-left:5px}
.layui-timeline-item{position:relative;padding-bottom:20px}
.layui-timeline-axis{position:absolute;left:-5px;top:0;z-index:10;width:20px;height:20px;line-height:20px;background-color:#fff;color:#5FB878;border-radius:50%;text-align:center;cursor:pointer}
.layui-timeline-axis:hover{color:#FF5722}
.layui-timeline-item:before{content:'';position:absolute;left:5px;top:0;z-index:0;width:1px;height:100%}
.layui-timeline-item:last-child:before{display:none}
.layui-timeline-item:first-child:before{display:block}
.layui-timeline-content{padding-left:25px}
.layui-timeline-title{position:relative;margin-bottom:10px}


/* carousel 轮播 */
.layui-carousel{position: relative; left: 0; top: 0; background-color: #f8f8f8;}
.layui-carousel>*[carousel-item]{position: relative; width: 100%; height: 100%; overflow: hidden;}
.layui-carousel>*[carousel-item]:before{position: absolute; content: '\e63d'; left: 50%; top: 50%; width: 100px; line-height: 20px; margin: -10px 0 0 -50px; text-align: center; color: #c2c2c2; font-family:"layui-icon" !important; font-size: 30px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.layui-carousel>*[carousel-item] > *{display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #f8f8f8; transition-duration: .3s; -webkit-transition-duration: .3s;}
.layui-carousel-updown > *{-webkit-transition: .3s ease-in-out up; transition: .3s ease-in-out up;}
.layui-carousel-arrow{display: none\0; opacity: 0; position: absolute; left: 10px; top: 50%; margin-top: -18px; width: 36px; height: 36px; line-height: 36px; text-align: center; font-size: 20px; border: none 0; border-radius: 50%; background-color: rgba(0,0,0,.2); color: #fff; -webkit-transition-duration: .3s; transition-duration: .3s; cursor: pointer;}
.layui-carousel-arrow[lay-type="add"]{left: auto!important; right: 10px;}
.layui-carousel[lay-arrow="always"] .layui-carousel-arrow{opacity: 1; left: 20px;}
.layui-carousel[lay-arrow="always"] .layui-carousel-arrow[lay-type="add"]{right: 20px;}
.layui-carousel[lay-arrow="none"] .layui-carousel-arrow{display: none;}
.layui-carousel-arrow:hover,
.layui-carousel-ind ul:hover{background-color: rgba(0,0,0,.35);}
.layui-carousel:hover .layui-carousel-arrow{display: block\0; opacity: 1; left: 20px;}
.layui-carousel:hover .layui-carousel-arrow[lay-type="add"]{right: 20px;}
.layui-carousel-ind{position: relative; top: -35px; width: 100%; line-height: 0!important; text-align: center; font-size: 0;}
.layui-carousel[lay-indicator="outside"]{margin-bottom: 30px;}
.layui-carousel[lay-indicator="outside"] .layui-carousel-ind{top: 10px;}
.layui-carousel[lay-indicator="outside"] .layui-carousel-ind ul{background-color: rgba(0,0,0,.5);}
.layui-carousel[lay-indicator="none"] .layui-carousel-ind{display: none;}
.layui-carousel-ind ul{display: inline-block; padding: 5px; background-color: rgba(0,0,0,.2); border-radius: 10px; -webkit-transition-duration: .3s; transition-duration: .3s;}
.layui-carousel-ind li{display: inline-block; width: 10px; height: 10px; margin: 0 3px; font-size: 14px; background-color: #e2e2e2; background-color: rgba(255,255,255,.5); border-radius: 50%; cursor: pointer; -webkit-transition-duration: .3s; transition-duration: .3s;}
.layui-carousel-ind li:hover{background-color: rgba(255,255,255,.7);}
.layui-carousel-ind li.layui-this{background-color: #fff;}
.layui-carousel>*[carousel-item]>.layui-this,
.layui-carousel>*[carousel-item]>.layui-carousel-prev,
.layui-carousel>*[carousel-item]>.layui-carousel-next{display: block}
.layui-carousel>*[carousel-item]>.layui-this{left: 0;}
.layui-carousel>*[carousel-item]>.layui-carousel-prev{left: -100%;}
.layui-carousel>*[carousel-item]>.layui-carousel-next{left: 100%;}
.layui-carousel>*[carousel-item]>.layui-carousel-prev.layui-carousel-right,
.layui-carousel>*[carousel-item]>.layui-carousel-next.layui-carousel-left{left: 0;}
.layui-carousel>*[carousel-item]>.layui-this.layui-carousel-left{left: -100%;}
.layui-carousel>*[carousel-item]>.layui-this.layui-carousel-right{left: 100%;}

/* 上下切换 */.layui-carousel[lay-anim="updown"] .layui-carousel-arrow{left: 50%!important; top: 20px; margin: 0 0 0 -18px;}
.layui-carousel[lay-anim="updown"] .layui-carousel-arrow[lay-type="add"]{top: auto!important; bottom: 20px;}
.layui-carousel[lay-anim="updown"] .layui-carousel-ind{position: absolute; top: 50%; right: 20px; width: auto; height: auto;}
.layui-carousel[lay-anim="updown"] .layui-carousel-ind ul{padding: 3px 5px;}
.layui-carousel[lay-anim="updown"] .layui-carousel-ind li{display: block; margin: 6px 0;}

.layui-carousel[lay-anim="updown"]>*[carousel-item]>*{left: 0!important;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-this{top: 0;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-carousel-prev{top: -100%;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-carousel-next{top: 100%;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-carousel-prev.layui-carousel-right,
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-carousel-next.layui-carousel-left{top: 0;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-this.layui-carousel-left{top: -100%;}
.layui-carousel[lay-anim="updown"]>*[carousel-item]>.layui-this.layui-carousel-right{top: 100%;}

/* 渐显切换 */.layui-carousel[lay-anim="fade"]>*[carousel-item]>*{left: 0!important;}
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-carousel-prev,
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-carousel-next{opacity: 0;}
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-carousel-prev.layui-carousel-right,
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-carousel-next.layui-carousel-left{opacity: 1;}
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-this.layui-carousel-left,
.layui-carousel[lay-anim="fade"]>*[carousel-item]>.layui-this.layui-carousel-right{opacity: 0}

/*带焦点icon轮播*/
.flexslider{
	position: relative;
}
.flexslider .flex-viewport{
	width: 100%;
	overflow: hidden;
}
.flexslider .slides li{
	position: relative;
	overflow: hidden;
	padding:10px;
	display: inline-block;
}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 5px; }
.flex-direction-nav .flex-prev {left: 5px;}
.flexslider:hover .flex-next {opacity: 0.8;}
.flexslider:hover .flex-prev {opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/*@media screen and (max-width:1280px){
	.track-form .idea{
		width: 100%;
	}
	.track-form .btn{
		position: relative;
		top: 0;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
	}

}
@media screen and (max-width:768px){
	.track-form .layui-form-item{
		width: 100%;
		margin: 0 5% 20px 0;
		max-width: 444px;
	}
}*/

/* 图片放大的代码 */
.imgview-mask{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999998;
	left: 0;
	top: 0;
	background: #000;
	opacity: .75;
	filter: alpha(opacity=75);
	display: none;
}
.show-img{
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
}
.show-img img{
	width: auto;
	height: 100%;
}
.show-img a{
	position: absolute;
	width: 40px;
	height: 40px;
	right: -40px;
	top: -40px;
	/*background: url(../image/index-close.png) -10px -10px no-repeat;*/
}
.show-img a:hover{
	position: absolute;
	width: 40px;
	height: 40px;
	right: -40px;
	top: -40px;
	/*background: url(../image/index-close.png) -10px -77px no-repeat;*/
}