<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>testStudent</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>


<body ng-app="testStudent">
    <h1>测试界面</h1>
    <div ng-view></div>


</body>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script src="js/jquery-2.0.3.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/private/testStudent.js"></script>

</html>