<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>票据贴现</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="ticketDiscount">


<div ng-view></div>


<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script src="js/jquery-2.0.3.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/private/ticket/ticketDiscount.js"></script>

</body>
</html>